{% extends 'base.html.twig' %}

{% block title %}
    {% if sortie.id%}
        Sortie {{ sortie.nom}} | {{ parent() }}
    {% else %}
        Nouvelle sortie | {{ parent() }}
    {% endif %}
{% endblock %}

{% form_theme sortieForm 'bootstrap_5_layout.html.twig' %}

{% block body %}
    {% if sortie.id%}
        <h2 class="h3 mb-3 font-weight-normal">Modifier la sortie {{ sortie.nom }}</h2>
        <p class="h5 mb-3">Statut de la sortie : {{ sortie.etat.libelle }}</p>
    {% else %}
        <h2 class="h3 mb-3 font-weight-normal">Créer une sortie</h2>
    {% endif %}

    {{ form_start(sortieForm) }}
    <div class="row" style="padding: 0 40px">
        <div class="col">
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateLimiteInscription) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.duree) }}
        </div>
        <div class="col">
            {{ form_row(sortieForm.infosSortie) }}
            {{ form_row(sortieForm.nomCampus) }}
            {{ form_row(sortieForm.ville) }}
            {{ form_row(sortieForm.lieu) }}
        </div>
        <div class="col">
            {{ form_row(sortieForm.rue) }}
            {{ form_row(sortieForm.codePostal) }}
            {{ form_row(sortieForm.latitude) }}
            {{ form_row(sortieForm.longitude) }}
        </div>
    </div>
    <button type="submit" name="submit" value="enregistrer" class="btn btn-primary">Enregistrer</button>
    <button type="submit" name="submit" value="publier" class="btn btn-primary">Publier</button>
    {% if sortie.id and sortie.etat.libelle == 'ouverte' or sortie.etat.libelle == 'cloturée' %}
        <a href="{{ path('create_annulation', {'id':sortie.id })}}"><button type="button" class="btn btn-primary">Annuler</button></a>
    {% endif %}
    {{ form_end(sortieForm) }}

    <script>
        let $ville = document.getElementById("create_ville");
        $ville.addEventListener('change',function () {
            console.log($ville.value)
            $.ajax({
                method : "POST",
                url : "{{ path('create_lieux') }}", //on envoie l'id par là > trouve la ville > retourne lieux associés
                data : {id: $ville.value},
                success: function (result) {
                    //ici ça nous renvoie la liste des lieux associés à la ville
                    console.log(result);
                    /* no bueno, issu du tuto sur les formEvents
                    var placesData = {};
                    for (let resultKey in result) {
                        console.log();
                    }
                    console.log(placesData)
                    $('#create_lieu').append(
                        $(result).find('#create_lieu')
                    );*/
                }
            });
        });
    </script>

{% endblock %}
