{% extends 'base.html.twig' %}

{% form_theme sortieForm 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {% if sortie.id%}
        Sortie {{ sortie.nom}} | {{ parent() }}
    {% else %}
        Nouvelle sortie | {{ parent() }}
    {% endif %}
{% endblock %}


{% block body %}
    {% if sortie.id%}
        <h2 class="h3 mb-3 font-weight-normal">Modifier la sortie {{ sortie.nom }}</h2>
        <p class="h5 mb-3">Statut de la sortie : {{ constant((workflow_marked_places(sortie)|first~'_name')|upper, sortie.etat) }}</p>
    {% else %}
        <h2 class="h3 mb-3 font-weight-normal">Créer une sortie</h2>
    {% endif %}

    {{ form_start(sortieForm) }}
    <div class="row" style="padding: 0 40px">
        <div class="col">
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateLimiteInscription) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.duree) }}
        </div>
        <div class="col">
            {{ form_row(sortieForm.infosSortie) }}
            {{ form_row(sortieForm.nomCampus) }}
            {{ form_row(sortieForm.ville) }}
            {{ form_row(sortieForm.lieu) }}
        </div>
        <div class="col">
            {{ form_row(sortieForm.rue) }}
            {{ form_row(sortieForm.codePostal) }}
            {{ form_row(sortieForm.latitude) }}
            {{ form_row(sortieForm.longitude) }}
        </div>
    </div>
    <button type="submit" name="submit" value="enregistrer" class="btn btn-primary">Enregistrer</button>
    <button type="submit" name="submit" value="publier" class="btn btn-primary">Publier</button>
    {% if sortie.id and workflow_can(sortie, constant('TRANS_ANNULATION',sortie.etat)) %}
        <a href="{{ path('create_annulation', {'id':sortie.id })}}"><button type="button" class="btn btn-primary">Annuler</button></a>
    {% endif %}
    {{ form_end(sortieForm) }}

    <script>
        let dataVille = {};
        let listeLieux = {};
        let $ville = document.getElementById("create_ville");
        $ville.addEventListener('change',function () {
            console.log($ville.value)
            $.ajax({
                method : "POST",
                url : "{{ path('create_lieux') }}", //on envoie l'id par là > trouve la ville > retourne lieux associés
                data : {id: $ville.value},
                success: function (result) {
                    dataVille = result;
                    //ici ça nous renvoie la liste des lieux associés à la ville
                    for (let x in result.lieux) {
                        listeLieux[(result.lieux[x].id)] = result.lieux[x].nom;
                    }
                    let options = "";
                    result.lieux.map(place => {
                        options += `<option value="${place.id}">${place.nom}</option>`
                    });
                    document.getElementById('create_lieu').innerHTML = options;
                    document.getElementById('create_codePostal').value = dataVille.codePostal;
                    document.getElementById('create_lieu').disabled = false;
                    updateCoordinates();
                    /* no bueno, issu du tuto sur les formEvents
                    var placesData = {};
                    for (let resultKey in result) {
                        console.log();
                    }
                    console.log(placesData)
                    $('#create_lieu').append(
                        $(result).find('#create_lieu')
                    );*/
                }
            });
        });
        let $lieu = $('#create_lieu');
        $lieu.change(updateCoordinates);
        function updateCoordinates(){
            let placeDetails = dataVille.lieux.find(lieu => lieu.id == $lieu.val());
            document.getElementById('create_rue').value = placeDetails.rue;
            document.getElementById('create_latitude').value = placeDetails.latitude;
            document.getElementById('create_longitude').value = placeDetails.longitude;
            //var $form = $(this).closest('form');
            // Simulate form data, but only include the selected lieu value.
            /*let datas = {};
            datas[$lieu.attr('name')] = $lieu.val();
            console.log(datas);
            /* Submit data via AJAX to the form's action path.
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data2,
                complete: function (html) {
                    /*  // Replace current position field ...
                      $('#create_lieu').replaceWith(
                          // ... with the returned one from the AJAX response.
                          $(html.responseText).find('#create_lieu')
                      )
                }
            });*/
        }
    </script>

{% endblock %}
