{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="h3 mb-3 font-weight-normal">Créer une sortie</h2>

    {% form_theme sortieForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(sortieForm) }}
    <div class="row" style="padding: 0 40px">
        <div class="col">
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateLimiteInscription) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.duree) }}
        </div>
        <div class="col">
            {{ form_row(sortieForm.infosSortie) }}
            {{ form_row(sortieForm.nomCampus) }}
            {{ form_row(sortieForm.ville) }}
            {{ form_row(sortieForm.lieu) }}
        </div>
        <div class="col">
            {{ form_row(sortieForm.rue) }}
            {{ form_row(sortieForm.codePostal) }}
            {{ form_row(sortieForm.latitude) }}
            {{ form_row(sortieForm.longitude) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <button type="button" class="btn btn-primary">Publier</button>
    <button type="reset" class="btn btn-primary">Annuler</button>
    {{ form_end(sortieForm) }}
{% endblock %}

{% block title %}
    Nouvelle sortie | {{ parent() }}
{% endblock %}

