{% extends 'base.html.twig' %}

{% form_theme sortiesFilter 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}
    Sorties | {{ parent() }}
{% endblock %}

{% block body %}

    <h2 class="h3 mb-3 font-weight-normal">Filtrer les sorties</h2>

    {{ form_start(sortiesFilter) }}
    <div class="row"  style="padding: 0 40px">
        <div class="col" style="text-align: start; margin-left: 7rem">
            {{ form_row(sortiesFilter.campus) }}
            {{ form_row(sortiesFilter.nom) }}
            {{ form_row(sortiesFilter.dateDebut) }}
            {{ form_row(sortiesFilter.dateFin) }}
        </div>
        <div class="col" style="text-align: start">
            {{ form_row(sortiesFilter.organisateur) }}
            {{ form_row(sortiesFilter.inscrit) }}
            {{ form_row(sortiesFilter.nonInscrit) }}
            {{ form_row(sortiesFilter.sortiesPassees) }}
        </div>
    </div>
    <button class="btn btn-success mb-3" id="search-sortie-btn">Rechercher</button>
    <input class="btn btn-danger mb-3" id="search-sortie-btn" type="reset">

    {{ form_end(sortiesFilter) }}

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clotûre inscriptions</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d/m/y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/y') }}</td>
                <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionsMax }}</td>
                <td id="etat_{{ sortie.id }}">{# Extraction nom de l'état #}
                    {{ constant((workflow_marked_places(sortie)|first~'_name')|upper, sortie.etat) }}
                </td>
                <td id="inscrit_{{ sortie.id }}">{{ app.user in sortie.participants ? 'X' : '' }}</td>
                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>
                    {% if is_granted('edit', sortie) and
                        workflow_has_marked_place(sortie, constant('CREATION', sortie.etat)) %}
                        <a href="{{ path('create_modification', {'id':sortie.id}) }}">Modifier</a>
                    {% else %}
                        <a href="{{ path('sorties_details', {'id':sortie.id })}}">Afficher</a>
                    {% endif %}



                    <!-- https://symfony.com/doc/current/workflow.html#usage-in-twig -->
                    {% if workflow_can(sortie,constant('TRANS_PUBLICATION', sortie.etat)) and
                        app.user == sortie.organisateur %}
                        <a href="#" id="publication_{{ sortie.id }}" class="publication">Publier</a>
                    {% endif %}

                    {% if workflow_can(sortie,constant('TRANS_ANNULATION',sortie.etat)) and
                        app.user == sortie.organisateur %}
                        <a href="{{ path('create_annulation', {'id':sortie.id}) }}" id="annulation_{{ sortie.id }}" class="annulation">Annuler</a>
                    {% endif %}

                    {% if workflow_has_marked_place(sortie, constant('OUVERTE', sortie.etat)) %}
                        <a href="#" id="inscription_{{ sortie.id }}" class="inscription">S'inscrire</a>
                    {% endif %}

                    {% if workflow_has_marked_place(sortie, constant('OUVERTE', sortie.etat)) or
                          workflow_has_marked_place(sortie, constant('EN_COURS', sortie.etat)) or
                          workflow_has_marked_place(sortie, constant('CLOTUREE', sortie.etat)) %}
                        <a href="#" id="desistement_{{ sortie.id }}" class="desistement">Se désister</a>
                    {% endif %}
                    <!-- Show/hide boutons inscription/désistement -->
                    <script>
                        hideButton("inscription_{{ sortie.id }}",{{ app.user in sortie.participants ? true : false }})
                        hideButton("desistement_{{ sortie.id }}",{{ app.user in sortie.participants ? false : true }})
                    </script>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <script>
        //Ecoute des boutons inscription/désistement
        $(".inscription").on("click", function (event) {
            event.preventDefault();
            toggleInscription("{{ path('sorties_inscription') }}",
                event.currentTarget.id.split("_")[1]);
        })
        $(".desistement").on("click", function (event) {
            event.preventDefault();
            toggleInscription("{{ path('sorties_desistement') }}",
                event.currentTarget.id.split("_")[1]);
        })
        $(".publication").on("click", function (event) {
            event.preventDefault();
            togglePublication("{{ path('sorties_publier') }}",
                event.currentTarget.id.split("_")[1]);
        })
    </script>
{% endblock %}
