{% extends 'base.html.twig' %}

{% block title %}
    Sorties | {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <h3>Filtrer les sorties</h3>
        <div class="formFilter">
            {{ form_start(sortiesFilter) }}
            {{ form_widget(sortiesFilter) }}
            <button class="btn btn-primary">Rechercher </button>
            {{ form_end(sortiesFilter) }}
        </div>

    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clotûre inscriptions</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d/m/y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/y') }}</td>
                <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td id="inscrit_{{ sortie.id }}">{{ app.user in sortie.participants ? 'X' : '' }}</td>
                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>
                    {% if app.user != sortie.organisateur %}
                        <a href="{{ path('sorties_details', {'id':sortie.id })}}">Afficher</a>
                    {% else %}
                        <a href="#">Modifier</a>
                    {% endif %}
                    {% if sortie.etat.libelle is same as('en cours') %}
                        <a href="#" id="inscription_{{ sortie.id }}" class="inscription">S'inscrire</a>
                    {% endif %}
                    {% if sortie.etat.libelle in ['en cours', 'cloturée'] %}
                        <a href="#" id="desistement_{{ sortie.id }}" class="desistement">Se désister</a>
                    {% endif %}
                    <!-- Show/hide boutons inscription/désistement -->
                    {% set inscHidden, desisHidden = false, true %}
                    {% for participant in sortie.participants %}
                        {% if participant == app.user %}
                            {% set inscHidden, desisHidden = true, false %}
                        {% endif %}
                    {% endfor %}
                    <script>
                        hideButton("inscription_{{ sortie.id }}",{{ inscHidden }})
                        hideButton("desistement_{{ sortie.id }}",{{ desisHidden }})
                    </script>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <script>
        //Ecoute des boutons inscription/désistement
        $(".inscription").on("click", function (event) {
            event.preventDefault();
            toggleInscription("{{ path('sorties_inscription') }}",
                event.currentTarget.id.split("_")[1]);
        })
        $(".desistement").on("click", function (event) {
            event.preventDefault();
            toggleInscription("{{ path('sorties_desistement') }}",
                event.currentTarget.id.split("_")[1]);
        })
    </script>
{% endblock %}
